/*
Theme Name: happwell
Author: the Desolab team
Author URI: https://desolab.com/
Description: 
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, red, white, yellow, dark, light, one-column, two-columns, right-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: happwell

*/
*{
    padding: 0px;
    margin: 0px;
}
html {
	height: 100%;
}

body {
    padding: 0px;
    margin:0px;
    height: auto;
    position: relative;
   	width: 100%;
	height: 100%;
    
    
    font-family: 'Roboto', sans-serif;
}
#wrapperus {
	width: 100%;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
    padding-bottom: 100px; 
}

#header_cont {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 9999;
}
#header {
    position: relative;
    width: 1000px;
    margin: auto;
    height: auto;
    overflow: hidden;
    padding: 25px 0;
}
#logo{
    position: relative;
    background: url("/wp-content/themes/happwell/logo.png") no-repeat;
    display: inline-block;
}
.logo_img{
    display: inline-block;
    height: 60px;
}

.menu-top_static_pages-container {
    list-style: none;
    display: inline-block;
    color: #000;
    margin: 25px 0px 0px 20px;
    vertical-align: top;
}
.menu-top_static_pages-container ul  li{
    display: inline-block;
    margin: 0px 30px;
}

.menu-top_static_pages-container ul  li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
} 

.menu-top_static_pages-container ul  li a:hover{

    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    
        
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    -ms-transform: scale(2.1,2.1); /* IE 9 */
    -webkit-transform: scale(2.1,2.1); /* Safari */
    transform: scale(2.1,2.1);
}

/* Global styles  */

.opacytus {
    opacity: 0.7;
}
.opacytus:hover {
    opacity: 1;
    
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Global styles END */

/* TOP MENU */ 

#top_menu_cont.f-nav{  
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#top_menu_cont {
    position: relative;
    width: 100%;
    margin: auto;
    height: 50px;
    text-align: center;
    
    background: rgba(255, 114, 0, 0.75);
}
.top_menu {
    position: relative;
    width: 700px;
    height: auto;
    
    list-style: none;
    display: inline-block;
    color: #000;
    margin: 15px auto;
    vertical-align: top;
    text-align: left;
}


.top_menu li {
    display: inline-block;
    position: relative;

}
.top_menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 16px 35px;
    font-weight: bold;
}

.top_menu li a:hover{
    background: rgba(255, 255, 255, 0.25);
    
    -moz-transition: background 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

.top_menu li .top_menu {
    position: absolute;
    top: 20px;
    left: 0px;
    height: 0px;
    overflow: hidden;
    width: 100%;
}
.top_menu li:hover .top_menu {
    display: block;
    /*background: rgba(0,0,0,0.5); */
    background: rgba(255, 114, 0, 0.75);
    height: auto;  
    
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.top_menu li .top_menu li {
    float: none;
    display: block;
    }
    
.top_menu  li .top_menu a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

.top_menu  li:hover .top_menu a:hover{
    background: rgba(255, 255, 255, 0.25);
    
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
    



/* TOP MENU */

.top_basket {
    position: relative;
    width: 290px;
    height: auto;
    
    display: inline-block;
    margin: 0.5em  auto;
    vertical-align: top;
    text-align: right;
}

/* Search block*/
#search_block{
    display: inline-block;
    margin: -0.1em 3px;
        vertical-align: top;
}

#search_block fieldset {
    font-size: 1em;
    padding: 0em;
    border-radius: 1em;
    font-family: sans-serif;
    border-width: 0;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}

#search_block label,
#search_block input,
#search_block button,
#search_block .search_icon {
    font-size: inherit;
    margin: 0.1em 0.2em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #f90;
    background-color: #fef5d8;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

#search_block input {
    border: none;
    margin-right: -5px;
    width: 0px;
    height: 36px;
    vertical-align: top;
    border-right: none;
    padding-left: 0px;
}
#search_block input:focus {
    outline: none;
}
#search_block button,
#search_block .search_icon {
    margin-left: 0px;
    background-color: #aef;
       
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}
#search_block button:active,
#search_block button:focus {
    background-color: #acf;
    outline: none;
}

#search_block .search_icon{
    background:url("/wp-content/themes/happwell/img/search_icon.png") center no-repeat #fef5d8;
    width: 36px;
    height: 36px;
    border-radius: 0px;
    border: none;
    border-left: none;
    cursor: pointer;
    display: inline-block;
}


/* Search block END */


#basket_block{
    display: inline-block;
    margin: 0.4em 3px;
    vertical-align: top;
}
.basket_icon{
    background:url("/wp-content/themes/happwell/img/basket.png") 10px center no-repeat;
    width: auto ;
    min-width: 60px;
    height: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    /* border: 1px solid #f90;*/
    border: none;
    color: #fff;
    font-size:18px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px 5px 35px;
}
/* like bootstrap */

.col-md-2 {
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 48%;
}

.col-md-2:nth-child(1){
    margin-right: 1.8%;
}
.col-md-2:nth-child(2){
    margin-left: 1.8%;
}


.col-md-3 {
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 33%;
}
.center {
    text-align: center;
}
.justify {
    text-align: justify;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

.middle {
    vertical-align: middle!important;
}
.bottom {
    vertical-align: bottom!important;
}



/* SLIDER Start */

.huge_it_slideshow_image_container_1 {
    margin-top: -50px!important;
    
}
.huge_it_slideshow_image_1 {
    margin: 0px;
}

.huge_it_slideshow_image_wrap_1 {
    margin-bottom: 60px!important;
}
.huge_it_slideshow_dots_thumbnails_1{
    top: 100%!important;
}

.huge_it_slideshow_dots_thumbnails_1 .huge_it_slideshow_dots_1 {
    width: 12.5px!important;
    height: 12.5px!important;
    border-radius: 12.5px!important;
    margin: 10px 2px!important;
    background: #ccc;
}
.huge_it_slideshow_dots_1.huge_it_slideshow_dots_active_1{
    background: #ff7200;
}

#huge_it_slideshow_left_1{
    background: url("/wp-content/themes/happwell/img/arrow_prev.png") left top no-repeat!important;
    left: 10px!important;
    height: 58px!important;
    width: 58px!important;
}
#huge_it_slideshow_right_1{
    background: url("/wp-content/themes/happwell/img/arrow_next.png") right top no-repeat!important;
    right: 10px!important;
    height: 58px!important;
    width: 58px!important;
}


/* SLIDER END */
h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 25px 0 25px;
}

h1:before {
    background: url("/wp-content/themes/happwell/img/black_point.png") center repeat-x;
    margin: 35px 0 -35px;
    content: " ";
    width: 100%;
    height: 20px;
    display: block;
    padding-bottom: 15px;
}



h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 25px 0 25px;
}
h2.string{
    background: url("/wp-content/themes/happwell/img/black_point.png") center repeat-x;
    margin: 85px 0 20px;
    content: " ";
}


h2.string span,
h1 span{
    background: #fff;
    padding: 0 15px;
}


h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 25px 0 25px;
}

p {
    margin: 15px 0;
}
p:first-child {
    margin-top: 0px;
}

img {
    margin: 5px;
}

/* Products */

#content{
    width: 1000px;
    margin: auto;    
    
}

.last_prod_cont, 
.sale_prod_cont,
ul.products,
.post.page {
    display: block;
    text-align: center;
    width: 1000px;
    margin: 0px auto 45px;
    overflow: hidden;
}
.post.page {

}
.post.page p img{

}


.last_prod_item,
ul.products li,
.related.products.minibox ul.products li{
    position: relative;
    display: inline-block;
    width: 31%;
    vertical-align: top;
    text-align: center;
    background: #fff;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;

}

.last_prod_item::before {
    content: 'bestseller';
    -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    background: #e4e4e4;
    position: absolute;
    padding: 3px 20px 5px 7px;
    font-size: 14px;
    font-style: italic;
    top: 0px;
    left: 0px;
    text-transform: CAPITALIZE;
        box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

.last_prod_item:hover::before
{
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1);
}

.last_prod_cont .last_prod_item:hover,
ul.products li:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.25);    
    
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1);
    
    z-index: 5;
}


.last_prod_item a,
ul.products li a {
    display: inline-block;
    margin: 30px 2%;
    text-align: center;
    text-decoration: none;
    width: 96%;
    font-size: 12px;
    font-weight: bold;
    color:#000;
}

.last_prod_item a.last_prod_item_title,
ul.products li a h3{
    margin: 30px 5px 0px 5px;
    min-height: 50px;
}

.last_prod_item .last_prod_price,
ul.products li a span.price {
    color: #ff7200;
    font-size: 24px;
    display: block;
    margin-bottom: 15px;
}

.sale_prod_cont .last_prod_item a img{
    opacity: 1;
}

.sale_prod_cont .last_prod_item:hover a  img{
    opacity: .7;
    
    -ms-transform: scale(.95,.95); /* IE 9 */
    -webkit-transform: scale(.95,.95); /* Safari */
    transform: scale(.95,.95);
    
    
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sale_prod_cont .last_prod_item a.last_prod_item_title,
.sale_prod_cont .last_prod_item .last_prod_price{
    opacity: 0;
}


.sale_prod_cont .last_prod_item:hover a.last_prod_item_title,
.sale_prod_cont .last_prod_item:hover .last_prod_price{
    opacity: 1;
    
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* related products (single)*/


.panel.entry-content.wc-tab{
    display: block!important;
}

.related.products.minibox h2 {
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
img.attachment-shop_catalog.size-shop_catalog.wp-post-image{
    width: 95%;
    max-width: 95%;
    height: auto;
    margin: 0px;
}

    /* gallery of image */
    
    
    .thumbnails.columns-3 {
    display: block;
    text-align: center;
    }
    .thumbnails.columns-3 a{        
        display: inline-block;
    }
    
    .thumbnails.columns-3 a img{
            height: 90px;
            width: auto;
    }
    .added_to_cart.wc-forward,
    .ajaxerrors{
        display: none;
    }
    
    
    
      /*
    .zoomContainer{
        top: 179px!important;
    }
  
    .thumbnails.columns-3 {
    display: block;
    text-align: center;
    }
    .thumbnails.columns-3 a{
        width: 12.16px;
        height: 12.16px;
        border-radius: 12.16px;
        margin: 6.5px;
        background-color: rgb(204, 204, 204);
        display: inline-block;
    }
    
    .thumbnails.columns-3 a img,
    .added_to_cart.wc-forward{
        display: none;
    }
*/
    /* add to cart*/
    .single_add_to_cart_button.button,
    ul.products li a.button  {
        display: inline-block;
        background: #ff7200;
        color: #fff;
        border-radius: 0px;
        width: 230px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid #ff7200;
        margin:0px;
        max-width: 100%;
        padding: 15px;
        
        -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    
    .single_variation_wrap, .variations {
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        border-radius: 0px;
        max-width: 45%;
        height: auto;
    }
    #pa_size, .variations select {
        display: inline-block;
        border-radius: 0px;
        padding: 17px 0px;
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
        text-transform: uppercase;
        color: #ff7200;
        border: 1px solid #ff7200;
        max-width: 100%;
        overflow: hidden;
        font-size: 70%;
        
        -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    
    
    
     #pa_size option{
            font-weight: normal;
        display: block;
        white-space: pre;
        min-height: 1.2em;
        padding: 0px 2px 1px;
    }
    #pa_size option:before {
        margin-left: 15px;
        display: block;
        content: ' ';    }
        
    tr.col-md-2 select {
        width: 100%;
        padding: 17px 0px;
    }
    
   
    .single_add_to_cart_button.button:after,
    .single_add_to_cart_button.button:before,
    .quantity,
    .reset_variations,
    .variations label,
    .woocommerce-message,
    .showlogin,
    
    .woocommerce-variation-price,
    .woocommerce-variation-availability,
    
    .related.products.minibox .variations_form.cart
     {
        display: none!important;
    }
    
    /* add to cart END */





/* related products (single) END */






.morenews {
    background: #0a0a0a;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    margin: 30px auto;
    padding: 20px 0px;
}


.morenews {
  display: block;
  position: relative;
  width: 280px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.morenews:before {
  content: '';
  position: absolute;
  border: #0a0a0a solid 3px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.morenews:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

/* pagination */
ul.page-numbers{
    overflow: hidden;
    margin: 5px auto;
    display: block;
    text-align: center;
    
}
ul.page-numbers li {
    list-style: none;
    float: none;
    display: inline-block;
    margin: 5px;
}

ul.page-numbers li a,
ul.page-numbers li span {
    background: rgba(255, 114, 0, 0.75);
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color: #fff;
    width: 26px;
    display: inline-block;
    padding-top: 0px;
    height: 26px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    margin: 2px;
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
}
ul.page-numbers li span,
ul.page-numbers li a.next.page-numbers,
ul.page-numbers li a.prev.page-numbers {
    background: none;
    border: 2px solid rgba(255, 114, 0, 0.75);
    color: #000;
}



/* Products END */ 

/* SINGLE Product */
h1.single_product_title{
    color:#0a0a0a;
    font-size: 30px;
    text-align: left;
    padding-bottom: 12px;    
    display: inline-block;
    vertical-align: top;
    width: 76.5%;
    margin: 25px 0 5px;
}

h1.single_product_title:before {
    display: none;    
}
.price_cont_of_detail_prod{
    padding-bottom: 12px;
    
    display: inline-block;
    margin: 25px 0 5px;
    font-size: 30px;
    color: #ff7200;
    font-weight: bold;
    vertical-align: top;
    padding-left: 15px;
    width: 17.5%;
}
.price_cont_of_detail_prod p {
    margin: 0px;
}
.summary.entry-summary {
    
}
.woocommerce-tabs.wc-tabs-wrapper {
    padding-top: 15px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin-bottom: 25px;
    
}

#tab-description {
    padding-bottom: 12px;
    
    font-size: 14px;
}

/* gallery of single products */
.single_product_image_block {
    /* width: 480px; */
    display: inline-block;
}
.single_product_image_block img {
    max-width: 95%;
    height: auto;
}

.minibox ul.products{
    width: auto;
}

/* SINGLE Product END */ 

.middle_information_cont {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #313a47;
    z-index: 5;
}

.middle_information {
    position: relative;
    width: 1000px;
    padding: 0px 0px;
    margin: auto;
    height: auto;
    color:#fff;
    overflow: hidden;text-align: center;
    vertical-align: middle;
}

.middle_information p {
    display: inline-block;
    font-size: 30px;
    height: 110px;
    font-weight: bold;
    text-align: center;
    padding-top: 70px;
}

/* Products END */

/* Footer  */
#footer_cont {
    position: relative;
    width: 100%;
    margin-top: -80px;
    height: auto;
    background: #313a47;
    z-index: 5;
    display: block;
    
    /*
    -webkit-clip-path: polygon(0 15%, 45% 15%, 50% 0, 55% 15%, 100% 15%, 100% 100%, 0 100%);
    clip-path: polygon(0 15%, 45% 15%, 50% 0, 55% 15%, 100% 15%, 100% 100%, 0 100%);
    
    -webkit-clip-path: polygon(0 25%, 35% 25%, 65% 25%, 100% 25%, 100% 100%, 0 100%);
    clip-path: polygon(0 25%, 35% 25%, 65% 25%, 100% 25%, 100% 100%, 0 100%);
    */
}
#footer {
    position: relative;
    width: 1000px;
    padding: 10px 0px;
    margin: auto;
    height: auto;
    color:#fff;
}
#footer .footer_contacts {
    text-align: left;
}
.footer_contacts p a ,
.text_contacts p:nth-last-child(1) a,
.text_contacts p:nth-last-child(2) a{
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0;
    text-decoration: none;
    color: inherit;
}



.footer_contacts p.phone_block::before,
.footer_contacts p.mail_block::before,
.text_contacts p:nth-last-child(1)::before,
.text_contacts p:nth-last-child(2)::before
{
    width: 26px;
    height: 21px;
    content: " ";
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    
}



.footer_contacts p.phone_block::before{
    background: url("/wp-content/themes/happwell/img/icon_phone.png") left center no-repeat!important;
}
.footer_contacts p.mail_block::before{
    background: url("/wp-content/themes/happwell/img/icon_mail.png") left center no-repeat!important;
}

.card_holder{
    list-style: none;
    display: inline-block;
    margin-top: 0px;

}
.card_holder li{
    margin-top: 5px;
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

.card_holder li img{
    height: 40px;
    border: none;
    margin: 0px;

}
/*
.card_holder li:nth-child(1){
    background: url("/wp-content/themes/happwell/img/cards_2.png") 0 top no-repeat!important;
}
.card_holder li:nth-child(2){
    background: url("/wp-content/themes/happwell/img/cards_2.png") -52px top no-repeat!important;
}
.card_holder li:nth-child(3){
    background: url("/wp-content/themes/happwell/img/cards_2.png") -103px top no-repeat!important;
}
.card_holder li:nth-child(4){
    background: url("/wp-content/themes/happwell/img/cards_2.png") -154px top no-repeat!important;
}
*/



/* for the contacts page */

.text_contacts p:nth-last-child(2)::before{
    background: url("/wp-content/themes/happwell/img/icon_black_phone.png") left center no-repeat!important;
}
.text_contacts p:nth-last-child(1)::before{
    background: url("/wp-content/themes/happwell/img/icon_black_mail.png") left center no-repeat!important;
}


/* Socuals */
@-o-keyframes sonarEffect {
0% {
opacity:.3;
height:100%;
width:100%
}

40% {
opacity:.5;
box-shadow:0 0 2px rgba(255,255,255,0.1),0 0 10px 10px #fff,0 0 0 10px rgba(255,255,255,0.5)
}

100% {
box-shadow:0 0 0 2px rgba(255,255,255,0.1),0 0 10px 10px #fff,0 0 0 10px rgba(255,255,255,0.5);
-o-transform:scale(1.2);
opacity:0;
left:-60%;
right:-60%;
top:-60%;
bottom:-60%
}
}

@-webkit-keyframes sonarEffect {
0% {
opacity:.3;
height:100%;
width:100%
}

40% {
opacity:.5;
box-shadow:0 0 0 2px rgba(255,255,255,0.1),0 0 10px 10px #fff,0 0 0 10px rgba(255,255,255,0.5);
-webkit-box-shadow:0 0 0 2px rgba(255,255,255,0.1),0 0 10px 10px #fff,0 0 0 10px rgba(255,255,255,0.5)
}

100% {
box-shadow:0 0 0 2px rgba(255,255,255,0.1),0 0 10px 10px #fff,0 0 0 10px rgba(255,255,255,0.5);
-webkit-box-shadow:0 0 0 2px rgba(255,255,255,0.1),0 0 10px 10px #fff,0 0 0 10px rgba(255,255,255,0.5);
transform:scale(1.2);
-webkit-transform:scale(1.2);
opacity:0;
left:-60%;
right:-60%;
top:-60%;
bottom:-60%
}
}

@keyframes sonarEffect {
0% {
opacity:.3;
height:100%;
width:100%
}

40% {
opacity:.5;
box-shadow:0 0 0 2px rgba(255,255,255,0.1),0 0 10px 10px #fff,0 0 0 10px rgba(255,255,255,0.5)
}

100% {
box-shadow:0 0 0 2px rgba(255,255,255,0.1),0 0 10px 10px #fff,0 0 0 10px rgba(255,255,255,0.5);
transform:scale(1.2);
opacity:0;
left:-60%;
right:-60%;
top:-60%;
bottom:-60%
}
}


#footer .footer_socials {
    text-align: right;
    margin-top: 5px;
}
.button {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    
    margin: -1px 10px 0 -1px;
    text-align: center;
    transition: transform 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
    
    cursor: pointer;
    
    
    /*
    background-color: #fef5d8;
    border: 1px solid rgba(255,255,255,0.3);
    display: inline-block;
    margin: 5px;
    width: 32px;
    height: 32px;
    background: #fef5d8;
    cursor: pointer;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25), inset 0 2px 0 rgba(255,255,255,.6), 0 2px 0 rgba(0,0,0,.1), inset 0 0 20px rgba(0,0,0,.1);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,.25), inset 0 2px 0 rgba(255,255,255,.6), 0 2px 0 rgba(0,0,0,.1), inset 0 0 20px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,.25), inset 0 2px 0 rgba(255,255,255,.6), 0 2px 0 rgba(0,0,0,.1), inset 0 0 20px rgba(0,0,0,.1);
    
    */
    }

.button:hover {

    
    transform: scale(0.93);
    -webkit-transform: scale(0.93);
    
    
    
    
    /*
    background-color: #fff;
    box-shadow: inset 0 0 20px rgba(0,0,0,.2), 0 2px 0 rgba(255,255,255,.4),inset 0 2px 0 rgba(0,0,0,.1), inset 0 0 20px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 0 20px rgba(0,0,0,.2), 0 2px 0 rgba(255,255,255,.4),inset 0 2px 0 rgba(0,0,0,.1), inset 0 0 20px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,.2), 0 2px 0 rgba(255,255,255,.4),inset 0 2px 0 rgba(0,0,0,.1), inset 0 0 20px rgba(0,0,0,.1);
    
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    
    */
}


/*
.btn-twitter {
    background: url("/wp-content/themes/happwell/img/soc_twitter.png") center no-repeat;
}
.btn-pint {
    background: url("/wp-content/themes/happwell/img/soc_pint.png") center no-repeat;
}
.btn-inst {
    background: url("/wp-content/themes/happwell/img/soc_inst.png") center no-repeat;
}
.btn-google {
    background: url("/wp-content/themes/happwell/img/soc_google.png") center no-repeat;
}
.btn-facebook {
    background: url("/wp-content/themes/happwell/img/soc_facebook.png") center no-repeat;
}
*/







.button::before{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;    
    z-index: 1100;
    font-family: 'FontAwesome';
    font-size: 32px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}
.button:hover::before{
    color: #ff6600;    
}

.btn-twitter::before {
    content: "\f099";
}
.btn-pint::before {
    content: "\f0d2";
}
.btn-inst::before {
    content: "\f16d";
}
.btn-google::before {
    content: "\f0d5";
}
.btn-facebook::before {
    content: "\f09a";
}




.btn-twitter:hover::before {
    content: "\f099";
    color: #2ca9e1;    
}
.btn-pint:hover::before {
    content: "\f0d2";
    color: #cd1d1f;  
}
.btn-inst:hover::before {
    content: "\f16d";
    color: #9e7144; 
}
.btn-google:hover::before {
    content: "\f0d5";
    color: #de5145; 
}
.btn-facebook:hover::before {
    content: "\f09a";
    color: #3b5997; 
}


.go_to_top {
    display: block;
    margin: -45px auto 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.go_to_top img {
    display: block;
        margin: 10px auto ;
    width: 45px;
    height: auto;
}

.go_to_top:hover {
    /*
    margin: -45px auto -5px;
    font-size: 10px;    
    
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
*/
    
}
.go_to_top:hover img {
    /*
     outline: 0;
  -webkit-box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  
      -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    */
}


.logo_bottom {
    text-align: center;
    margin: 15px auto 0 auto;
    width: 59px;
    
}
.logo_bottom img{    
    margin: 0px;    
}


/* Copuright */
p.copyright {
    font-size: 10px;
    display: block;
    text-align: center;
    clear: both;
    margin: 0px auto;
}


.footer_contacts,
.logo_bottom,
.footer_socials {
    display: inline-block;
    float: none;
    clear: none;
    
}



/* Footer END */

/* COntacts */
.wpcf7-form input,
.wpcf7-form textarea,
div.wpcf7-mail-sent-ok,
.wpcf7-form select,
#wpcf7-f543-p544-o1 > form > div:nth-child(3)
 {

    padding: 14px 15px;
    border: 1px solid #ff7200;
    display: block;
    margin: auto;
    font-size: 18px!important;
    color: #999999;
    font-weight: normal;
    
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;   

    width:50%; 
}
.wpcf7-form-control-wrap.file-237{
    width: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
}


#post-544 .wpcf7-form select,
#post-544 .wpcf7-form input,
#wpcf7-f543-p544-o1 > form > div:nth-child(3)
 {
    width: 50%;
    margin-bottom: 15px;

}


#wpcf7-f543-p544-o1 > form > div:nth-child(3) {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    text-align: left;
    padding: 14px 15px 0px 20px;
}
#wpcf7-f543-p544-o1 > form > div:nth-child(3) > span > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
}
#wpcf7-f543-p544-o1 > form > p > span > textarea{
    padding-left: 20px;
}

.wpcf7-form ::-webkit-input-placeholder {color:#999999;}
::-moz-placeholder          {color:#999999;}/* Firefox 19+ */
:-moz-placeholder           {color:#999999;}/* Firefox 18- */
:-ms-input-placeholder      {color:#999999;}


textarea {
   font-family: inherit;
   font-size: inherit;
}

.wpcf7-form .wpcf7-submit{   
    background: #ff7200;
    text-transform: uppercase;

    color: #fff;
    
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;

    width:50%; 
}



span.wpcf7-not-valid-tip {

    margin: 5px 23% 25px;
}

/* Custom design */



/* checkout */

.woocommerce-billing-fields {
    display: inline-block;
    width: 100%;
}
.col2-set.col-md-2{
    width: 48%;
}
.woocommerce-billing-fields input,
.woocommerce form .form-row select {
   
    height: 40px;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    display: inline-block;
}
.woocommerce-shipping-fields textarea {
    padding: 10px 15px;
}
#billing_country_field {
    width: 48%;
    display: inline-block;
}
#billing_country_field label,
.payment_box.payment_method_paypal,
.about_paypal,
dt.variation-Size,
.cartus_item dt.variation-Size{
    display: none!important;
}

.woocommerce table.shop_table,
.wc_payment_methods.payment_methods.methods,
#add_payment_method #payment, 
.woocommerce-checkout #payment {
    border: none;
    background: none;
}
.form-row.place-order{
    text-align: center;
}
#place_order{
    background: url("/wp-content/themes/happwell/img/ok.png") center no-repeat #ff6600;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    border-left: none;
    cursor: pointer;
    display: inline-block;
    font-size: 0px;
    float: none!important;
}
#place_order:after {
    content: ' COMPLETTE ';
    color: #ff6600;
    font-size: 12px;
    display: inline-block;
    text-align: center;
}
.cartboxus {
    padding: 10px;
    position: relative;
}

.cartboxus .closer {
    position: absolute;
    content: '\F00D';
    font-family: 'FontAwesome';
    top: 15px;
    right: 15px;
    font-size: 32px;
    cursor: pointer;
    font-weight: normal;    
}
.cartboxus .closer::before {
    position: relative;
    content: '\F00D';
    }
.cartboxus h2{
    font-size: 24px;
    font-weight: bold; 
}
.cartus_item{
    margin: 0px auto 15px;
    border-bottom: 1px solid #ccc;
    display: block;
    height: auto;
    overflow: hidden;
    padding-bottom: 15px;
}
.cart_thumb {
    width: 33%;
    height: 96px;
    text-align: left;
    display: inline-block;
}
.cart_thumb img {
    width: 95%;
    border: none;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.cart_item_content{
        width: 61.5%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 3%;
}

.woocommerce table.shop_table td {
    text-align: left;
}
.cart_item_content h3,
td.product-name h3 {
        margin: 5px 0;
        text-align: left;
}
.cart_item_content h3 a,
td.product-name h3 a,
td.product-name a {
        color: #ff6600;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    margin-left: 0px;
    padding: 0px;
    vertical-align: top;
}

.woocommerce td.product-name dl.variation dt {
    clear: none;
}

.woocommerce td.product-name dl.variation dd{
    margin-right: 51px;
}

.woocommerce .order_details li{
    display: inline-block;
    float: none;
    margin: 10px;
    text-align: center;
    padding: 10px;
    padding-right: 10px;
}


td.product-name h3 a p {
    display: inline-block;
    margin: 0px;
    vertical-align: top;
}

.cart_item_content h3 a:hover,
td.product-name h3 a:hover {
        color: #bf5500;
}

.cart_item_content h3 a dd,
.cart_item_content h3 a p,
.cart_item_content .variation {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    -webkit-margin-start: 0px;
}

.cart_item_quantity{
    display: inline-block;
}
.cart_item_price{ 
    display: inline-block;
    font-weight: bold;
    margin-left: 15px;
    text-align: right;
    width: 50%;
}
.cartboxus .gotocheckout{
    background: #ff7200;
    text-transform: uppercase;
    color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}


.qty__btn {
    background: transparent;
    border: 1px solid #a9a9a9;
    color: #888;
    cursor: pointer;
    height: 1rem;
    left: 0;
    outline: none;
    padding: 0;
    position: relative;
    text-align: center;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    top: 0;
    opacity: 0.08;
    width: 1rem;
}

/* END of checkout */






@media screen and (max-width: 1024px) {
    
    
    .act_menu ul {
        display:block!important;
    }
    
    #header,
    #footer,
    .top_menu, .top_basket,
    #content,
    .middle_information,
    .col-md-3,    
    .last_prod_cont, .sale_prod_cont, ul.products, .post.page,
    .last_prod_item, ul.products li
    
    {
        width: 100%;
    }
    .related.products.minibox ul.products li{
        margin: 0px;
    }
    
    .sale_prod_cont .last_prod_item a.last_prod_item_title, .sale_prod_cont .last_prod_item .last_prod_price{
        opacity: 1;
    }
    
    .menu-top_static_pages-container {
    display: none;
    }
    
    
    #header,
    .col-md-3 {
        text-align: center;
    }
    
    #footer .footer_socials {
        margin: 25px 0;
    }
    .footer_socials button {
            margin: -1px 10px;
    }
    .card_holder{
        display: block;
        text-align: center;
    } 
    .middle_information p {
    display: block;
    font-size: 18px;
    height: auto;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    margin: 0px auto;
    }
    .huge_it_slideshow_image_container_1 {
    margin-top: 0px!important; 
}

h2.string {
    margin: 15px 0 20px;
}
.go_to_top {
    margin: 0 auto 15px;
}
.last_prod_item a, ul.products li a {
    margin-bottom: 0px;
}
    
.logo_img {
    height: 50px;
    margin: 0px;
}
    
/* menu */    
#header{
    overflow: visible;
    padding: 0; 
}
#top_menu_cont {
    background: rgba(255,255,255,0.7);
    top: 0px;
}

#top_menu_cont .afterus,
.sub_afterus{
        content: "\f03a";
    font-family: 'FontAwesome';
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 21px;
    display: block;
    z-index: 99999999999999;
        padding: 5px;
}
#top_menu_cont .afterus::after{
        content: "\f03a";
        position: relative;
}

#top_menu_cont .sub_afterus::after{
        visibility: hidden;
}

#top_menu_cont.act_menu .sub_afterus::after{
        visibility: visible;
}

.sub_afterus{
    left: 80%;
    text-align: center;
    display: block;
    top: -5px;
    font-size: 16px;
    z-index: 999999;
    width: 30px;
    height: 20px;
    /* border: 1px solid #000; */
    position: absolute;
    background: #fff;
    padding: 10px;
}
.sub_afterus::after{
    content: "\f078";
    position: relative;
}
.sub_afterus.sub_active::after{
    content: "\f077";
    position: relative;
}

.sub_categorius_menu {
    position: relative;
}
.top_menu.sub_categorius_menu.responsivus,
.top_menu li:hover .top_menu.responsivus{
    height: 0px;
    background: rgba(255, 255, 255, 0);
}
.top_menu li:hover .top_menu.sub_categorius_menu.responsivus.sub_active,
.top_menu.sub_categorius_menu.responsivus.sub_active{
    display: block;
    top: 0px;
    background: rgba(255, 255, 255, 0.75);
    height: auto;
    text-align: left;
    font-size: 12px;
    color: #000;
    width: 98%;
    
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.top_menu.sub_categorius_menu.responsivus.sub_active li a{
    color: #000;
    padding: 10px 1%;
    font-weight: normal;
}


#top_menu_cont.act_menu .afterus{
    display: none;
}

#top_menu_cont.act_menu {
    background: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#top_menu_cont.closer,
#top_menu_cont.act_menu::after {
    opacity: 0;
}
#top_menu_cont.act_menu::after {
    display: none;
}
#top_menu_cont.act_menu .closerr {
    position: absolute;
    font-family: 'FontAwesome';
    top: 15px;
    left: 15px;
    font-size: 32px;
    cursor: pointer;
    font-weight: normal;
    opacity: 1;
    color: #000;
    z-index: 999999;
}
#top_menu_cont.act_menu .closerr::before{
    position: relative;
    content: '\F00D';
}

#top_menu_cont #menu-top_static_pages,
#top_menu_cont .top_menu.responsivus  {
    display: none;
}
#top_menu_cont #menu-top_static_pages {
    margin-top: 55px;
}

#top_menu_cont #menu-top_static_pages li a,
    .top_menu.responsivus li a {
    text-decoration: none;
    display: block;
    margin: 10px 0px;
    padding: 5px;
    text-align: center;
    width: 98%;
    padding: 1%;
} 
.top_basket{
    position: absolute;
    top: 0px;
    right: 0px;
}

.basket_icon.menu-btn{
        visibility: visible!important;
}

.basket_icon {
    filter: invert(100%);
    -webkit-filter: 
    invert(100%);
}

.responsivus {
        padding: 1%;
        text-align: center;
}
    .responsivus li a{
    color: #000;
    text-align: center;
    display: inline-block;
    }
    
    .responsivus.active li,
    .pushy li,
    .top_menu li  {
        display: block;
            visibility: visible!important;
    }

#menu-top_static_pages.responsivus li a{
        text-transform: uppercase;
    }
    
    #top_menu_cont .col-md-3.right.middle {
        display: none;
    }
    #top_menu_cont.act_menu .col-md-3.right.middle {
        display: block;
            margin-bottom: 25px;
    }
    
#top_menu_cont .col-md-3.right.middle .button::before{
    color: #000;
}

.top_menu.sub_categorius_menu.responsivus {
    position: relative;
}

    
/* END of menu */
    
/* Detail product*/
.col-md-2.part35.left,
.col-md-2.part55.left,
.col2-set.col-md-2,
#order_review,
.post.page,
.top_menu,
.col-md-2.text_contacts.justify, .col-md-2.right {
    width: 98%;
    display: block;
    margin: 1%;
    padding: 0px;
} 

.wpcf7-form input, .wpcf7-form textarea, .wpcf7-form .wpcf7-submit,

#wpcf7-f543-p544-o1 > form > div:nth-child(5) > input,
#wpcf7-f543-p544-o1 > form > div:nth-child(3),
#wpcf7-f543-p544-o1 > form > div:nth-child(2) > span > select,
div.wpcf7-mail-sent-ok {
    width: 98%;
    display: block;
    margin: 1%;
    padding: 14px 2%;
}

#wpcf7-f543-p544-o1 > form > div:nth-child(3){
    padding-bottom: 0px;
}


.woocommerce form .form-row {
    padding: 0.5%;
}

h1.single_product_title,
.price_cont_of_detail_prod,
.related.products.minibox h2,
.stock.in-stock {
    width: 100%;
    text-align: center;
    padding: 0px;
}

.single_variation_wrap,
.single_product_image_block,
.single_product_image_block img
    {display: block;
    margin: auto;}
    
.single_add_to_cart_button.button{
    border: 1px solid #ff7200;
    display: block;
    margin: auto;
}
/* END of Detail product*/

.post.page p img {
    max-width: 100%;
    height: auto;
}    
    
#pa_size, .variations select{
                    padding: 17px 34px;
                    max-width: 100%;
                }    
                
                
.single_variation_wrap, .variations,
.variations_form.cart   {
    max-width: 205px;
    margin: auto;
}
.col-md-1{
    width: 100%;
}      
    
    
            @media screen and (max-width: 360px) {
                .last_prod_item, ul.products li, .related.products.minibox ul.products li{
                width: 100%;
                }
                
                
            }
            @media screen and (min-width: 361px) {
                
                .last_prod_item{
                    width:48%;
                }
            }
            
            @media screen and (min-width: 568px) {
                #pa_size, .variations select{
                    padding: 17px 34px;
                }
                
                ul.products{
                    width:96%;
                    margin: 2%;
                }
                ul.products li{
                    width:46%;
                    margin: 1.8%;
                }
                
            }
            
            @media screen and (min-width: 1008px){
                .col-md-2.part35.left, .col-md-2.part55.left {
                display: inline-block;
                vertical-align: top;
                width: 48%;
                margin: 0%;
            }
            
            .variations_form.cart {
                max-width: 100%;
            }
            
            .variations_form.cart .single_variation_wrap, 
            .variations_form.cart .variations {
                display: inline-block;
            }
            
            
            }
    
    /*  */
    #wpadminbar {
    top: -46px;
    }
}