/*

Theme Name: Vallo

Author: ITMoms Web-Design Studio
*/


.current-menu-item, .current_page_item,
.current-menu-parent,
.current_page_parent,
.current_page_ancestor {
    display: block;
    /* background: rgba(0,0,0,0.5); */
    background: rgba(245, 134, 18, 0.75);
    height: auto;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
} 

.h1, h1 {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
    font-size: medium;
    font-weight: bold;
}

.alignleft {
    text-align: left;
    margin: 5px 5px 5px 0;
    float: left;}
    
.alignright {
    text-align: right;
    margin: 5px 0 5px 5px;
    float: left;}
    
.clr {
    clear: both;
}