/*

Theme Name: Vallo

Author: ITMoms WebStudio

Description: The 2017 simplest theme for WordPress.

Version: 1.0 License: GNU General Public License v2 or later License

URI: http://www.gnu.org/licenses/gpl-2.0.html

Tags: Vallo

Text Domain: http://shop.intech.lviv.ua/

This theme, like WordPress, is licensed under the GPL.

Use it to make something cool, have fun, and share what you've learned with others.

*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.customize-support{
    background: #E6E7E9;
}
header {
    margin: 0px -15px;
}


body > div.container > h1 {
    font-size: 20px;
}

.font-face {  
    font-family: 'candara'; 
    /*src: url('../css/candara.ttf');*/
    }
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1398">
Text with this font applied</p> */

.candara { 
    font-family: 'candara' !important; 
    }


/* container*/
body>div.container {
    padding-left: 30px; 
    padding-right: 30px; 
    overflow:hidden; 
    font-family: 'candara'; 
    color: dimgrey;
    background: #fff;
    }
#content {
    clear: both;
}
    
body>div.container p {
    margin: 0; 
    text-align: justify
    }





/*  Верхня мініатюрна панель навігації */
.navbar-mini {
    font-size: medium; 
    border: 0; 
    min-height: 25px!important;
    margin-top: 40px;
    }
#widget-foo_widget-2-image {
    padding: 0px;
}
    
.navbar-mini .navbar-toggle {
    border-color: orangered; 
    background: radial-gradient(ellipse at center, #fac695 0%,#f5ab66 47%,#ef8d31 100%); 
    }
    
.navbar-mini .icon-bar {
    background-color: black !important;
    }
    
.navbar-mini ul.nav.navbar-nav {
    margin: 0;
    }
    
.navbar-mini ul.nav.navbar-nav form.navbar-form.radius {
    padding: 0;
    }

 /*телефон на головній зверху */
#navbarCollapse > ul.nav.navbar-nav.navbar-right > li:nth-child(1) > ul > li:nth-child(1) > a {
    color: inherit;
    font-weight: inherit;
}

 /*
 navbar for lang
 
 */
/*.nav.navbar-nav.navbar-right li.langs{
    min-width: 45px;
}*/

.qtranxs_language_chooser {
    position: absolute;
    right: 0px;
    z-index: 555;
    text-transform: uppercase;
}

.qtranxs_language_chooser li {display: none;} 
.qtranxs_language_chooser li.active,
.qtranxs_language_chooser:hover li {display: block;}

.navbar-mini ul.nav.navbar-nav li.langs:hover .qtranxs_language_chooser li a,
.navbar-mini ul.nav.navbar-nav li.langs:hover .qtranxs_language_chooser li:first-child a {
    color: #fff;
    
    padding: 3px 9px;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: normal;
 }
 li:hover .qtranxs_language_chooser li.active a,
 li:hover .qtranxs_language_chooser li a:hover {
    color: #fff;
    font-weight: bold!important;
    background: rgba(245, 134, 18, 1);
 }
 
    
.navbar-mini ul.nav.navbar-nav.navbar-right li a {
    padding: 10px 5px 4px;
    }
    
.navbar-mini ul.nav.navbar-nav.navbar-right li:first-child a, .navbar-mini ul.nav.navbar-nav.navbar-right li.dropdown a, .qtranxs_language_chooser li.active a {
    color: #F58612; 
    font-weight: bold;
    }
    
.navbar-mini #navbarCollapse ul.nav.navbar-nav.visible-xs li a {
    color: black; 
    background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%);
    }
    
.navbar-mini #navbarCollapse ul.nav.navbar-nav.visible-xs li a:hover {
    background: #eee; 
    }
    
#navbarCollapse > ul.nav.navbar-nav.navbar-right > li:nth-child(1) > a > img {
    width: 15px;
    height: 15px;
}




/* Велике основне оранжеве меню  */

.navbar-orange {
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 0 !important;
    margin-bottom: 10px !important;
    border: 2px solid #F58612 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    min-height: 30px !important;
    height: 44px !important;
}

.nav.navbar-nav.navbar-right li {
        list-style-type: none;
        min-width: 25px;
        
}



ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
    padding-left: 0px;
}
#menu-item-1233 > a:hover,
#menu-item-1234 > a:hover,
#menu-item-1235 > a:hover,
#menu-item-1236 > a:hover,
#menu-item-1237 > a:hover {
    background-color: #F58612 !important;
    color: whitesmoke;
}
    


.navbar-orange .navbar-header .navbar-brand {
    height: auto;
    }
    
.navbar-orange .navbar-brand {
    position: relative; 
    top: -33px;
    }
    
.navbar-orange .navbar-brand img { 
    display: block;
    }
    
.navbar-orange ul.navbar-nav>li>a  {
    font-size: 20px; 
    color: dimgrey;
	padding-top:10px; 
    padding-bottom: 10px;
    }
    

    

.navbar-orange ul.navbar-nav>li.dropdown.open>.dropdown-menu {  
    right: auto; 
    left: 0; 
    border: 0; 
    padding: 0;
    }
    
.navbar-orange .dropdown-menu>li {
    border: 1px solid #F58612;
    padding: 0;
    margin: 2px 0; 
    }
    
.navbar-orange .dropdown-menu>li>a {
    padding: 4px 10px; 
    }



.navbar-orange ul.navbar-nav>li.active>a, .navbar-orange ul.navbar-nav>li>a:hover, .navbar-orange ul.navbar-nav>li.dropdown.open .dropdown-menu>li>a:hover {
    background-color: #F58612 !important;
    color: whitesmoke;
}
/* END of submenu */




li .sub-menu, 
li:hover .sub-menu li .sub-menu {
    position: absolute;
    top: 40px;
    left: 0px;
    height: 0px;
    overflow: hidden;
    width: 320px;
    z-index: 55;
}
#menu-top_static_pages li:hover,
li:hover .sub-menu,
li .sub-menu li:hover .sub-menu,
li:hover .qtranxs_language_chooser {
    display: block;
    /*background: rgba(0,0,0,0.5); */
    background: rgba(245, 134, 18, 0.65);
    height: auto;  
    
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
li .sub-menu li {
    float: none;
    display: block;
    }
    
li .sub-menu a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 7px 10px;
    text-align: left;
}

li:hover .sub-menu a:hover{
    background: rgba(245, 134, 18, 1);
    
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* END of submenu */


/* Номера телефонів зверху зліва */
.left-tel { 
    float: right;
    }
    
.left-tel li {
    display: inline-block;
     margin-right: 10px;
     }
     
.left-tel li img {
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 8px;
    }
    
.left-tel li a {
    color: dimgrey;
    margin-right: 4px;
}


/* Карусель */
#myCarousel {
    margin-top: 0px;
    margin-bottom: 15px;
    }
.huge-it-arrows {
    display: none;
}    
.huge-it-dot-wrap {
    position: relative!important;
    left: 100%!important;
    text-align: center;
    }
.huge-it-dot-wrap a{
  background: #fff!important;
  border: 1px solid #f58612!important;
}
.huge-it-dot-wrap a.active {
    background: #f58612!important;
}

.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}


/* блок контенту на головній сторінці */
.main {
    clear: both;  
    }
    
.section {
    margin-top: 0;
    padding-left: 15px; 
    padding-right: 15px;
    }
    
/*Перший стовпчик*/
.row .col-lg-5 h3, .row .col-lg-4 h3, .row .col-lg-3 h3 {
    margin-top: 2px;	
    margin-bottom: 2px; 
    text-align: left; 
    font-size: medium; 
    font-weight: bold;
    }
    
.row .col-lg-4 h3 {
    text-align: left;
    }
    
.row .col-lg-3 h3 {
    text-align: right;
    }
    
.row .pull-left {
    margin: 10px 15px 5px 0;
    }
    
.row hr {
	/* max-width: 1140px;  ширина лінії */
    width: 97.5%;
	height: 15px; /* висота / товщина лінії */
	background: #F58612; /* фон / колір лінії */
	border: 0; /* рамка навколо роздільної лініїї (забираємо її) */
	margin: 5px auto 10px; /* відступ над і під лінією 5 пікселів */
    }
    
section .row .text-right a {
    width: auto;
    color: #F58612 !important;
    font-weight: bold;
    font-size: 14px;
    clear: both;
}
    
/*другий стовпчик з новинами*/
.section .row strong,
strong.prodincat {
    display: block; 
    margin: 7px 0;
    }
    
.row strong a {
    text-decoration: none; 
    color: black; 
    }
    
.row strong a:hover {
    text-decoration: underline;
    }
    
/*третій стовбчик з формою*/
.section .row .col-lg-3 .btn-warning { 
    background: #F58612;
    margin-top: 10px;
    }
    
.section .row .col-lg-3 .btn-warning:hover {
    background: orange;
    }
    
.section .row .col-lg-3 .row .col-lg-12:nth-child(3) {
    margin-top: 10px;
    }
    
.section .row .col-lg-3 .row .col-lg-12:nth-child(3) img {
    float: left;
    }
    

/*Ячейки форми зворотнього зв'язку*/    

/* Form feedback */

input.wpcf7-form-control,
textarea.wpcf7-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea.wpcf7-form-control {
    height: 122px;
}
.wpcf7-form-control.wpcf7-submit {
    background: #F58612!important;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}

.wpcf7-form-control.wpcf7-submit:hover {
    border-color: #eea236;
}


/*вирівнювання на сторінці Продукція */
.col-lg-9.col-md-8.col-sm-12.col-xs-12{
    text-align: justify;
}    


/*   Футер   */
.footer .row {
    padding-right: 30px ;
    padding-left: 30px ; 
    border-radius: 0 ; 
    margin: 20px 0 ;
    border: 2px solid #F58612 ; 
    border-left: 0 ; 
    border-right: 0 ; 
    height: auto;
    padding: 15px 0;
    }
.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}


/*Перший стовбчик футеру*/
.footer .row .col-lg-3:nth-child(2) p{
    text-align: center; 
    font-size: small; 
    padding: 0; 
    margin: 7px 0;
    vertical-align: middle;
    }
    
.footer .row .col-lg-3:nth-child(2) img {
    display: block; 
    width: 90px; 
    height: 35px; 
    margin-left: auto; 
    margin-right: auto;
    }
.footer .row .col-lg-3:nth-child(2) .zocial img {
    width: auto;
    height: auto;
}    
.textwidget {
    display: inline-block;
    width: 100%;
    
}    

.footer .row .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-lg-pull-4.vcenter {
    text-align: center;
    padding: 3% 0;
} 

    
    
/* Іконки на соцмережі  */
.zocial {
    display: block; 
    width: 140px; 
    height: 25px; 
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    }
    
.zocial a {
    display: inline-block; 
    width: 25px; 
    height: inherit; 
    
    background-repeat: repeat-x; 
    text-decoration: none; 
    text-indent: 9999px; 
    margin-left: 7px;
    }
    
.zocial a:first-child {
    background-position: 0 0;
    }
    
.zocial a:nth-child(2) {
    background-position: 89px 0;
    }
    
.zocial a:nth-child(3) {
    background-position: 56px 0;
    }
    
.zocial a:last-of-type {
    background-position: 25px 0;
    }
    
.zocial a:hover {

    border: 1px solid #fff; 
    border-radius: 50%;
    }

/*Другий стовбчик футеру*/
.footer .row strong {
    display: block;
    }
    
.footer .row .col-lg-4 table {
    margin: 20px auto; 
    width: 365px;
    }
    
.footer .row .col-lg-4 table tr td {
    padding: 7px;   
    }
    
.footer .row .col-lg-4 table tr td a {
    color: dimgrey;
    }    
    
.footer .row .col-lg-4 table tr td:first-child {
    /*width: 46px; */
    text-align: center; 
    vertical-align: middle; 
    }


/*Третій стовбчик футеру*/
.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
    }
.footer .row .col-lg-3 a {
    color: dimgrey;
    }
.footer .row .col-xs-12.col-sm-12.col-md-4.col-lg-3.vcenter{
  padding: 3.5% 0;
  text-align: center;
}        
    
/*Четвертий стовбчик футеру*/   

@media (min-width: 1200px){
.col-lg-2 {
    text-align: left!important;
}
 }

.footer .row .col-xs-12.col-sm-12.col-md-4.col-lg-2 {
  padding: 5.5% 0;
  text-align: center;
}

.footer .row .col-xs-12.col-sm-12.col-md-4.col-lg-2 a {
    color: dimgrey;
    padding-left: 3px;
}


/*Хлібні крихти*/
ol.breadcrumb {
    padding: 2px 0px;
    margin-bottom: 0;
    list-style: none;
    background-color: inherit;
    text-align: left;
    clear: both;
}

ol.breadcrumb li{
    display: inline-block;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin: 0px 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}   
    

/*Оранжевий заголовок публікацій*/
h4, h4 a, h5, h5 a { 
    text-decoration: none !important; 
    color: #F58612 !important; 
    font-weight: bold !important; 
    font-size: medium !important; 
    font-family: 'candara' !important;
    }
    
h4 img, h4 a img {
    float: right !important;
    }
    
    
body > div.container > div > section > div > div.col-lg-3.col-md-3.col-sm-4.col-xs-12,
body > div.container > div > section > div > aside,
body > div.container > div > section > div > div.col-lg-5.col-md-7.col-sm-7.col-xs-12 {
    position: relative;
    min-height: 1px;
    /*
    padding-right: 30px;
    padding-left: 30px;
    */ 
}    

 


/*Блок прев'ю публікацій*/
.section .row .text-right a, .section .row span.text-right {
    width: auto; 
    color: #F58612 !important; 
    font-weight: bold; 
    font-size: 14px; 
    clear: both;
    }
    
.section .row>div.text-right {
    margin-right: 15px;
    }
section .row .text-right a, section .row span.text-right {width: auto; color: #F58612 !important; font-weight: bold; font-size: 14px; clear: both}
section .row>div.text-right {margin-right: 15px}

/*Блок повної публікації*/
.realated-news {
    text-align: right;
    }
/*Сторінка новин */
.col-lg-4.col-md-5.col-sm-6.col-xs-12{
    text-align: right;
}



/*Сторінка каталогу*/
.figure.catalog {
    display: inline-block; 
    width: 153px; 
    background-color: transparent; 
    padding: 0; 
    margin: 0 20px;
    }
    
.figure.catalog img {
    margin: 0; 
    width: 153px; 
    height: 225px;
    }
    
.figure.catalog figcaption {
    margin: 5px 0; 
    text-align: right;
    }

/*Про нас*/
.video { 
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto !important;
    }
    
.world {
    display: block; 
    background-color:#F58612; 
    color: black; 
    padding: 7px 0; 
    text-align: center !important; 
    margin-bottom: 15px !important; 
    }

/*Блок стилів до Відгуків сторінки Про нас*/

#testimtitle {
    font-weight: 700;
    padding-left: 15px;
    margin-top: 40px;
}


#hiding {
    background: rgba(138, 111, 83, 0.05);
    font-family: 'candara';
  }
  
#vtestimonial {
    text-align: center;
    font-family: 'candara'; 
    color: dimgrey;
}

#vtestimonial:hover {
    cursor: pointer;
}

#wpmtst_submit_testimonial {
    background: #f58612;
    border: none;
    width: 160px;
    height: 35px;
    border-radius: 2px;  
    font-weight: 700; 
}


/* Карусель з відгуками */
#owl-carousel {
    position: relative; 
    z-index: 2;
    }
    
#owl-carousel .item {
    display: block; 
    width: 320px; 
    color: dimgrey; 
    margin: 15px 0 0 22px;
    }
    
.item:hover {
    text-decoration: none;
    }
.item p:first-child {
    width: inherit; 
    color: black; 
    font-weight: bold; 
    text-indent: 80px;
    }
    
.item p:nth-child(2) {
    width: 60px; 
    text-align: left; 
    display: inline-block; 
    float: left;
    }
    
.item p:nth-child(2) img {
    width: 50px; 
    height: 48px;
    }
    
.item p:last-child {
    width: 260px; 
    display: inline-block; 
    float: right;
    }
    
.customNavigation a { 
    display: block; 
    position: relative; 
    z-index: 3;  
    bottom: 50px;
    
    text-indent: 9999px;
    background: url("../img/customnavigation.png") repeat-x;
    width: 19px; 
    height: 30px;  
    }
    
.customNavigation a:hover { 
    background-color: orange; 
    cursor: pointer;
    }
    
.customNavigation a.prev { 
    background-position: left center;
    float: left;
    }
    
.customNavigation a.next {
    background-position: center right;
    float: right;
    }


/*Contacts page*/
#location > tbody > tr:nth-child(3) > td > p:nth-child(3) > a,
#location > tbody > tr:nth-child(3) > td > p:nth-child(4) > a,
#location > tbody > tr:nth-child(5) > td > p:nth-child(3) > a,
#location > tbody > tr:nth-child(5) > td > p:nth-child(4) > a {
    padding: 0px;
}

#location > tbody > tr:nth-child(4) > td > h5 {
    padding-top: 10px;
}

#location > tbody > tr:nth-child(3) > td > p:nth-child(3) > a:hover,
#location > tbody > tr:nth-child(3) > td > p:nth-child(4) > a:hover,
#location > tbody > tr:nth-child(5) > td > p:nth-child(3) > a:hover,
#location > tbody > tr:nth-child(5) > td > p:nth-child(4) > a:hover {
   text-decoration: underline;
   background: none;
}

/*Адреса на карті */
#location a {
    color: dimgrey; 
    display: block; 
    padding: 5px;
    }
     
#location a:hover { 
    background-color: silver; 
    text-decoration: none;
    }
    
#location a img {
    display: block; 
    margin: 0 auto;
    padding-top: 20px;
    }

/* Стовбчик з лицями */
#faces tbody tr {
    display: inline-block; 
    margin-bottom: 15px;
    }
    
#faces tbody tr:last-child { 
    margin-bottom: 0;
    }
    
#faces img {
    margin-right: 15px; 
    width: 102px; 
    height: 125px;
    }
    
#faces > tbody > tr > td > a {
    color: black;
}



.p404 h2 {
    font-size: xx-large; 
    text-align: center; 
    font-weight: bold;
    }
    
.p404 h1 {
    font-weight: bold; 
    font-size: 160px; 
    color: #F58612; 
    text-align: center;
    }

/* Адаптивність */
@media screen and (max-width:1169px) {
     .p404 h2 {
	   font-size: x-large;
       }
	.p404 h1 {
	   font-size: 120px;
       }
}

@media screen and (max-width:1024px) {


.bx-wrapper .bx-controls-direction a {
    display: none;
}
.bx-wrapper .bx-viewport  {
    height: auto!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.bx-wrapper .bx-viewport  div{
        transform: none!important;
}
.bx-wrapper {
    width: 100%!important;
    max-width: 100%!important;
}
.bx-wrapper .bx-viewport .slide.bx-clone,
.bx-wrapper .bx-viewport  div {
    width: 100%!important;
        -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}


/* header
*/
a.navbar-brand.visible-xs {
     padding: 0px; 
}


}

@media screen and (max-width:992px) {
	footer .row .col-lg-3 {
	   padding-bottom: 10px;
       }
	.navbar-orange ul.navbar-nav>li>a  { 
	   font-size: 15px;
       }
	figure.catalog {
	   margin-left: 25px; 
       margin-right: 25px;
       }
}
@media screen and (max-width:768px) {
	.navbar-mini .navbar-header {
	   
       }
	.navbar-mini .navbar-brand {
	   font-size: large; 
       font-weight: bold; 
       color: white;
       }
	.navbar-mini #navbarCollapse {
	   
       }
       .huge_it_slideshow_image_wrap_1,
       #menu-item-1433 {
        display: none!important;
       }
       
       ul.nav.navbar-nav.navbar-right li {
        display: none;
       }
       ul.nav.navbar-nav.navbar-right li.langs,
       ul.nav.navbar-nav.navbar-right li.langs ul li {
        display: inline-block;
        width: 100%;
       }
       
       .qtranxs_language_chooser {
        position: relative;
        top: 0px;
        margin-top: 15px;
       }
       ul.nav.navbar-nav.navbar-right li.langs ul.qtranxs_language_chooser li {
        width: 17%;
        text-align: right;
       }
       li:hover .qtranxs_language_chooser li.active a,
 li:hover .qtranxs_language_chooser li a:hover,
 .navbar-mini ul.nav.navbar-nav.navbar-right li:first-child a,
 li:hover .qtranxs_language_chooser,
 .navbar-mini ul.nav.navbar-nav li.langs:hover .qtranxs_language_chooser li a,
 .navbar-mini ul.nav.navbar-nav li.langs:hover .qtranxs_language_chooser li:first-child a
  {
    color: #337ab7;
    font-weight: normal!important;
    background: none;
    width: 100%;
 }
 
 .navbar-mini ul.nav.navbar-nav li.langs:hover .qtranxs_language_chooser li a, 
 .navbar-mini ul.nav.navbar-nav li.langs:hover .qtranxs_language_chooser li:first-child a{
        padding: 10px 5px 4px;
 }
 
/* submenu */
li.menu-item-has-children {
background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%);
}

.sub_afterus {
        content: "\f105";
    position: absolute;
    top: 45px;
    right: 5px;
    z-index: 555;
    width: 30px;
    height: 30px;
    border-radius: 11.6px;
    font-size: 10px;
    padding: 5px;
}
.sub_afterus::before{
        content: "\f105";
    color: #f58612;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 0 10px 0 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    vertical-align: top;
    text-shadow: 0px 1px 3px #fff;
}


.menu-item-has-children a,
.navbar-mini #navbarCollapse ul.nav.navbar-nav.visible-xs li a:hover {
    background: none;
}
li .sub-menu,
li:hover .sub-menu {
    position: relative;
    width: auto;
    height: 0px;
    top: 0px;
    display: none;
}

li.sub_active .sub-menu,
li.sub_active:hover .sub-menu{
    display: block;
    top: 0px;
    height: auto;
    text-align: left;
    font-size: 12px;
    color: #000;
    width: 100%;
    -moz-transition: all 1.5s ease-in-out;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
.navbar-mini #navbarCollapse ul.nav.navbar-nav.visible-xs li.menu-item-has-children .sub-menu a {
    font-size: 14px;
    padding: 5px 25px;
    background: none;
}

/* footer style */

.footer .row .col-xs-12 table {
    width: auto;
}

.footer .row .col-xs-12 table tr td:first-child,
.breadcrumb  {
    display: none;
}

.footer .row .col-xs-12 table tr td {
    vertical-align: top;
}

.footer .col-xs-12 .col-sm-12 .col-md-4 .col-lg-4 .col-md-push-3 .col-lg-push-3 .vcenter {
    padding: 0px;
}

/* form */

label {
    width: 100%;
}

}

/* for fullsize slider */

.t-slide{

}

.galerius{
    overflow: hidden;
    max-height: 465px;
}
.fullHeight {
    max-height: none;
}

 .text-right a {
    width: auto;
    color: #F58612 !important;
    font-weight: bold;
    font-size: 14px;
    clear: both;
}

/* same height for titles */
/*
.row.mainpage h1, .row.mainpage h3 {
    display: table;
}

.row.mainpage h1 span, .row.mainpage h3 span {
    display: table-cell;
    vertical-align: bottom;
}
*/

.huge_it_slideshow_image_wrap_1 {
        margin-bottom: 15px;
}
@media screen and (min-width:1024px) {
.mainpage .col-lg-5,
.mainpage .col-lg-4 {
    width: 37.4%;
}
}
/* for category description */
/* div .term-description {
    width: 75%;
}
*/

/* for product image */
/* border: 1px solid #ddd;
*/
.woocommerce ul.products li.product a img {

    height: auto;
    display: block;
    margin: 0 0 1em;
   
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
}

.category_product_content{    
    height: 135px;
    position: relative;    
    border: 1px solid #ccc;    
    line-height: 135px;
    text-align: center;
}

.category_product_content .dimensions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    height: 20px;
    z-index: 55;
    padding: 0px;
    line-height: 20px;
}
li.product .category_product_content h2.woocommerce-loop-product__title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 24px!important;
    text-align: center;
}

.img_for_products_of_cat {
    
    max-height: 90px;
    max-width: 90%!important;
    width: auto;
    display: inline-block;
    vertical-align: middle;

}
.link_to_product_on_the_cat {}

.other_category_link {
    display: block;
    margin: 5px 0;
    position: relative;
}

.other_category_link .other_category_title{
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000;
}

.other_category_link:nth-child(even) .other_category_title{
    bottom: 10px;
    right: 10px
}
.other_category_link:nth-child(odd) .other_category_title{
    top: 10px;
    left: 10px
}

/* Detail product */
.contentainer_for_products_of_detail{
    vertical-align: top;
    text-align: justify;
}

.contentainer_for_products_of_detail h1{
    margin-bottom: 15px;
    font-size: 22px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.img_for_products_of_detail {
    border: 1px solid #ccc;
    padding: 15px 25px;
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.content_for_products_of_detail {
    padding: 5px 0 5px 5px;
    width: 440px;
    height: auto;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
}

/* for 2 columns category
*/
.woocommerce.columns-3 ul.products li.product {
    width: 48% !important;
    margin: 15px 3.8% 0px 0px;
}
.woocommerce.columns-3 ul.products li.product:nth-child(even){
    margin-right: 0px;
}

/* for hide wc_tabs (single.php)
*/ 
div.product-meta {
    display: none;
}

/* for hide wc_product_meta (single.php)
*/
ul.tabs.wc-tabs {
  display: none;
  
}
/* for hide позначки
*/
.tagged_as {
  display: none;  
}
/* for hide позначки
*/
#tab-description.h2 {
    display: none; 
}

/* for next/previous buttons */
 
.prev_next_buttons {
line-height: 40px;
margin-bottom: 20px;
}
 
.prev_next_buttons a[rel="prev"], .prev_next_buttons a[rel="next"] {
display: block;
}
 
.prev_next_buttons a[rel="prev"] {
float: right;
}
 
.prev_next_buttons a[rel="next"] {
float: left;
}
 
.prev_next_buttons::after {
content: '';
display: block;
clear:both;
}

/* Banner category mainpage */


.banner_cont{
    width: 98%;
    text-align: center;
    display: block;
    margin: auto;
}


.banner_cat_column {
    width: 30%;
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    margin: 0px 2%;
}
.banner_cat_column:first-child {
    margin-left: 0px;
    margin-right: 2.5%;
}

.banner_cat_column:last-child {
    margin-right: 0px;
    margin-left: 2.5%;
}

.banner_cat_column img{
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 5px 0px;
    
}
.banner_title_box{
    background: rgb(247, 147, 29);
    border: 1px solid rgb(247, 147, 29);
    padding: 15px 0px;
    width: 100%;
    display: block;
    
}
.banner_title_box:hover{
    text-decoration: none;
}

.banner_title_box h4 {
    display: block;
    padding: 15px 0px;
    background: #fff;
    color: #000!important;
    text-decoration: none!important;
    text-align: center;
    font-size: 24px!important;
}
.banner_title_box:hover h4,
.banner_title_box h4:hover {
    text-decoration: none!important;

}

/* product category */
.thumbnail.img-responsive {
    text-align: center;
}
.woocommerce ul.products li.product .thumbnail.img-responsive .woocommerce-loop-product__title {
    font-size: 24px;
    color: #000;
}

.woocommerce ul.products li.product img.attachment-shop_catalog.size-shop_catalog.wp-post-image{
    height: 35px;
}

/* single product */
@media (min-width: 768px)
{
    .nopaddingLeft {
       padding-left: 0 !important;
    }
}
.nopadding {
    padding: 0 !important;
}
.next-previous-container a{
    color: black;
    font-weight: bold;
}
.next-previous-container a:hover{
    text-decoration: none;
    color: black;
}
.next-previous-container a[rel="prev"]{
    float: left;
}
.next-previous-container a[rel="next"]{
    float: right;
}
.contentainer_for_products_of_detail p.category-name{
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
}
.contentainer_for_products_of_detail div.product_content{
    color: black;
    font-weight: bold;
}
.contentainer_for_products_of_detail .print-category-icon-container{
    text-align: right;
}
.contentainer_for_products_of_detail .print-category-icon-container > a{
    background-size: cover!important;
    width: 20px;
    display: block;
    height: 20px;
    background-repeat: no-repeat!important;
    display: inline-block;
    margin-left: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.contentainer_for_products_of_detail .print-category-icon-container .cat_icon{
    background: url(/wp-content/themes/Vallo/img/css/images/circle.jpg);
}
.contentainer_for_products_of_detail .print-category-icon-container .print_icon{
    background: url(/wp-content/themes/Vallo/img/css/images/printer.gif);
}
.dashicons-share-alt2{
    color: black;
}
.dashicons-share-alt2:hover{
    color: black;
    text-decoration: none;
}
@media print {
    a, div.wpcf7{
        display: none;
    }
}

/* Start LightBox Style */

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 35px;
    right: 35px;
    color: #f1f1f1!important;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1!important;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* End LightBox Style */
