/*

Theme Name: Vallo

Author: ITMoms Web-Design Studio

Description: The 2016 simplest theme for WordPress.

Version: 1.0 License: GNU General Public License v2 or later License

URI: http://www.gnu.org/licenses/gpl-2.0.html

Tags: Vallo

Text Domain: http://shop.intech.lviv.ua/

This theme, like WordPress, is licensed under the GPL.

Use it to make something cool, have fun, and share what you've learned with others.

*/

body > div.container > h1 {
    font-size: 20px;
}

.font-face {  
    font-family: 'candara'; 
    /*src: url('../css/candara.ttf');*/
    }
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1398">
Text with this font applied</p> */

.candara { 
    font-family: 'candara' !important; 
    }


/* container*/
body>div.container {
    padding-left: 0; 
    padding-right: 0; 
    overflow:hidden; 
    font-family: 'candara'; 
    color: dimgrey;
    
    }
#content {
    clear: both;
}
    
body>div.container p {
    margin: 0; 
    text-align: justify
    }





/*  Верхня мініатюрна панель навігації */
.navbar-mini {
    font-size: medium; 
    border: 0; 
    margin-bottom: 0
    }
    
.navbar-mini .navbar-toggle {
    border-color: orangered; 
    background: radial-gradient(ellipse at center, #fac695 0%,#f5ab66 47%,#ef8d31 100%); 
    }
    
.navbar-mini .icon-bar {
    background-color: black !important;
    }
    
.navbar-mini ul.nav.navbar-nav {
    margin: 0;
    }
    
.navbar-mini ul.nav.navbar-nav form.navbar-form.radius {
    padding: 0;
    }

/** стилі кнопки лупи і поля вводу пошуку */    
.navbar-mini ul.nav.navbar-nav form.navbar-form.radius .form-group input.form-control,
#s { 
    border-radius: 10px;
    height: 24px;
    }
#searchform > input[type="image"]:nth-child(2) {
    vertical-align: middle;
}    
 
 
 
    
.navbar-mini ul.nav.navbar-nav.navbar-right li a {
    padding: 10px 5px 4px;
    }
    
.navbar-mini ul.nav.navbar-nav.navbar-right li:first-child a, .navbar-mini ul.nav.navbar-nav.navbar-right li.dropdown a  {
    color: #F58612; 
    font-weight: bold;
    }
    
.navbar-mini #navbarCollapse ul.nav.navbar-nav.visible-xs li a {
    color: black; 
    background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%);
    }
    
.navbar-mini #navbarCollapse ul.nav.navbar-nav.visible-xs li a:hover {
    background: #eee; 
    }
    
#navbarCollapse > ul.nav.navbar-nav.navbar-right > li:nth-child(1) > a > img {
    width: 15px;
    height: 15px;
}



/* Велике основне оранжеве меню  */

.navbar-orange {
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 0 !important;
    margin-bottom: 10px !important;
    border: 2px solid #F58612 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    min-height: 30px !important;
    height: 44px !important;
}

.nav.navbar-nav.navbar-right li {
        list-style-type: none;
}



ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
    padding-left: 0px;
}
#menu-item-1233 > a:hover,
#menu-item-1234 > a:hover,
#menu-item-1235 > a:hover,
#menu-item-1236 > a:hover,
#menu-item-1237 > a:hover {
    background-color: #F58612 !important;
    color: whitesmoke;
}
    


.navbar-orange .navbar-header .navbar-brand {
    height: auto;
    }
    
.navbar-orange .navbar-brand {
    position: relative; 
    top: -33px;
    }
    
.navbar-orange .navbar-brand img { 
    display: block;
    }
    
.navbar-orange ul.navbar-nav>li>a  {
    font-size: 20px; 
    color: dimgrey;
	padding-top:10px; 
    padding-bottom: 10px;
    }
    

    

.navbar-orange ul.navbar-nav>li.dropdown.open>.dropdown-menu {  
    right: auto; 
    left: 0; 
    border: 0; 
    padding: 0;
    }
    
.navbar-orange .dropdown-menu>li {
    border: 1px solid #F58612;
    padding: 0;
    margin: 2px 0; 
    }
    
.navbar-orange .dropdown-menu>li>a {
    padding: 4px 10px; 
    }



.navbar-orange ul.navbar-nav>li.active>a, .navbar-orange ul.navbar-nav>li>a:hover, .navbar-orange ul.navbar-nav>li.dropdown.open .dropdown-menu>li>a:hover {
    background-color: #F58612 !important;
    color: whitesmoke;
}
/* END of submenu */




li .sub-menu, 
li:hover .sub-menu li .sub-menu {
    position: absolute;
    top: 40px;
    left: 0px;
    height: 0px;
    overflow: hidden;
    width: 320px;
    z-index: 55;
}
#menu-top_static_pages li:hover,
li:hover .sub-menu,
li .sub-menu li:hover .sub-menu {
    display: block;
    /*background: rgba(0,0,0,0.5); */
    background: rgba(245, 134, 18, 0.65);
    height: auto;  
    
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
li .sub-menu li {
    float: none;
    display: block;
    }
    
li .sub-menu a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 7px 10px;
    text-align: left;
}

li:hover .sub-menu a:hover{
    background: rgba(245, 134, 18, 1);
    
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* END of submenu */


/* Номера телефонів зверху зліва */
.left-tel { 
    float: right;
    margin-right: 30px;
    }
    
.left-tel li {
    display: inline-block;
     margin-right: 10px;
     }
     
.left-tel li img {
    margin: 4px;
    }
    
.left-tel li a {
    color: dimgrey;
    margin-right: 4px;
}


/* Карусель */
#myCarousel {
    margin-bottom: 15px;
    }
    

.huge_it_slideshow_dots_1 {
    display: inline-block;
    width: 10px ! important;
    height: 10px ! important;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #fff;  
    border-width: 2px; 
    border-color: #F58612;
    margin-left: 2px ! important; 
    margin-right: 2px ! important;
    background: rgba(0, 0, 0, 0)!important;
}    



.huge_it_slideshow_dots_thumbnails_1 {
    bottom: 0px!important;
    text-align: right!important;
    top: inherit!important;
    padding-right: 50px!important;
}
.huge_it_slideshow_dots_active_1 {
    background: #f58612!important;
}
 


/* блок контенту на головній сторінці */
.main {
    clear: both;
    
    }
    
.section {
    margin-top: 0;
    padding-left: 15px; 
    padding-right: 15px;
    }
    
/*Перший стовпчик*/
.row .col-lg-5 h3, .row .col-lg-4 h3, .row .col-lg-3 h3 {
    margin-top: 2px;	
    margin-bottom: 2px; 
    text-align: left; 
    font-size: medium; 
    font-weight: bold;
    }
    
.row .col-lg-4 h3, .row .col-lg-3 h3 {
    text-align: right;
    }
    
.row .pull-left {
    margin: 10px 15px 5px 0;
    }
    
.row hr {
	max-width: 1140px; /* ширина лінії */
	height: 15px; /* висота / товщина лінії */
	background: #F58612; /* фон / колір лінії */
	border: 0; /* рамка навколо роздільної лініїї (забираємо її) */
	margin: 5px auto 10px; /* відступ над і під лінією 5 пікселів */
    }
    
/*другий стовпчик з новинами*/
.section .row strong,
strong.prodincat {
    display: block; 
    margin: 7px 0;
    }
    
.row strong a {
    text-decoration: none; 
    color: black; 
    }
    
.row strong a:hover {
    text-decoration: underline;
    }
    
/*третій стовбчик з формою*/
.section .row .col-lg-3 .btn-warning { 
    background: #F58612;
    margin-top: 10px;
    }
    
.section .row .col-lg-3 .btn-warning:hover {
    background: orange;
    }
    
.section .row .col-lg-3 .row .col-lg-12:nth-child(3) {
    margin-top: 10px;
    }
    
.section .row .col-lg-3 .row .col-lg-12:nth-child(3) img {
    float: left;
    }
    

/*Ячейки форми зворотнього зв'язку*/    

/* Form feedback */

input.wpcf7-form-control,
textarea.wpcf7-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea.wpcf7-form-control {
    height: 122px;
}
.wpcf7-form-control.wpcf7-submit {
    background: #F58612!important;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}

.wpcf7-form-control.wpcf7-submit:hover {
    border-color: #eea236;
}


#wpcf7-f1294-o1 {
    padding-left: 15px;
    padding-right: 15px;
}




/*   Футер   */
.footer .row {
    padding-right: 30px ;
    padding-left: 30px ; 
    border-radius: 0 ; 
    margin: 20px 0 ;
    border: 2px solid #F58612 ; 
    border-left: 0 ; 
    border-right: 0 ; 
    height: auto;
    }
.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}


/*Перший стовбчик футеру*/
.footer .row .col-lg-3:nth-child(2) p{
    text-align: center; 
    font-size: small; 
    padding: 0; 
    margin: 7px 0;
    vertical-align: middle;
    }
    
.footer .row .col-lg-3:nth-child(2) img {
    display: block; 
    width: 90px; 
    height: 35px; 
    margin-left: auto; 
    margin-right: auto;
    }


.footer .row .col-lg-3:nth-child(2) .zocial img {
    width: auto;
    height: auto;
}    
.textwidget {
    display: inline-block;
    
}    
body > div > footer > div > div.col-xs-12.col-sm-6.col-md-4.col-lg-3.col-md-pull-5.col-lg-pull-6.vcenter {
    text-align: center;
} 
    
    
/* Іконки на соцмережі  */
.zocial {
    display: block; 
    width: 140px; 
    height: 25px; 
    margin-left: auto; 
    margin-right: auto;
    }
    
.zocial a {
    display: inline-block; 
    width: 25px; 
    height: inherit; 
    
    background-repeat: repeat-x; 
    text-decoration: none; 
    text-indent: 9999px; 
    margin-left: 7px;
    }
    
.zocial a:first-child {
    background-position: 0 0;
    }
    
.zocial a:nth-child(2) {
    background-position: 89px 0;
    }
    
.zocial a:nth-child(3) {
    background-position: 56px 0;
    }
    
.zocial a:last-of-type {
    background-position: 25px 0;
    }
    
.zocial a:hover {
    background-color: orange; 
    border: 1px solid orange; 
    border-radius: 50%;
    }

/*Другий стовбчик футеру*/
.footer .row strong {
    display: block;
    }
    
.footer .row .col-lg-6 table {
    margin: 20px auto; 
    width: 365px;
    }
    
.footer .row .col-lg-6 table tr td {
    padding: 7px;
    
    }
    
.footer .row .col-lg-6 table tr td a {
    color: dimgrey;
    }    
    
.footer .row .col-lg-6 table tr td:first-child {
    width: 46px; 
    text-align: center; 
    vertical-align: middle; 
    }

/*Третій стовбчик футеру*/
/*Вирівнювання по вертикалі*/
.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
    }
body > div.container > footer > div > div.col-xs-12.col-sm-6.col-md-4.col-lg-3.col-md-pull-5.col-lg-pull-6.vcenter > img {
    margin-top: 35px;
}

body > div.container > footer > div > div.col-xs-12.col-sm-6.col-md-3.col-lg-3.vcenter {
        margin-top: 66px;
}
    
.footer .row .col-lg-3:last-of-type {
    text-align: center; 
    }
    
.footer .row .col-lg-3:last-of-type a {
    color: dimgrey;
    }
    
.footer .row .col-lg-3:last-of-type img {
    margin-right: 10px;
    }

/*Хлібні крихти*/
ol.breadcrumb {
    padding: 2px 15px; 
    margin-bottom: 0;	
    list-style: none; 
    background-color: inherit;
    }
    
ol.breadcrumb>li>a {
    color: gray;
    }

/*Оранжевий заголовок публікацій*/
h4, h4 a, h5, h5 a { 
    text-decoration: none !important; 
    color: #F58612 !important; 
    font-weight: bold !important; 
    font-size: medium !important; 
    font-family: 'candara' !important;
    }
    
h4 img, h4 a img {
    float: right !important;
    }
    
    
body > div.container > div > section > div > div.col-lg-3.col-md-3.col-sm-4.col-xs-12,
body > div.container > div > section > div > aside,
body > div.container > div > section > div > div.col-lg-5.col-md-7.col-sm-7.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 30px; 
}    

 


/*Блок прев'ю публікацій*/
.section .row .text-right a, .section .row span.text-right {
    width: auto; 
    color: #F58612 !important; 
    font-weight: bold; 
    font-size: 14px; 
    clear: both;
    }
    
.section .row>div.text-right {
    margin-right: 15px;
    }
section .row .text-right a, section .row span.text-right {width: auto; color: #F58612 !important; font-weight: bold; font-size: 14px; clear: both}
section .row>div.text-right {margin-right: 15px}

/*Блок повної публікації*/
.realated-news {
    text-align: right;
    }

/*Сторінка каталогу*/
.figure.catalog {
    display: inline-block; 
    width: 153px; 
    background-color: transparent; 
    padding: 0; 
    margin: 0 20px;
    }
    
.figure.catalog img {
    margin: 0; 
    width: 153px; 
    height: 225px;
    }
    
.figure.catalog figcaption {
    margin: 5px 0; 
    text-align: right;
    }

/*Про нас*/
.video { 
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto !important;
    }
    
.world {
    display: block; 
    background-color:#F58612; 
    color: black; 
    padding: 7px 0; 
    text-align: center !important; 
    margin-bottom: 15px !important; 
    }

/*Блок стилів до Відгуків сторінки Про нас*/

#testimtitle {
    font-weight: 700;
    padding-left: 15px;
    margin-top: 40px;
}


#hiding {
    background: rgba(138, 111, 83, 0.05);
    font-family: 'candara';
  }
  
#vtestimonial {
    text-align: center;
    font-family: 'candara'; 
    color: dimgrey;
}

#vtestimonial:hover {
    cursor: pointer;
}

#wpmtst_submit_testimonial {
    background: #f58612;
    border: none;
    width: 160px;
    height: 35px;
    border-radius: 2px;  
    font-weight: 700; 
}


/* Карусель з відгуками */
#owl-carousel {
    position: relative; 
    z-index: 2;
    }
    
#owl-carousel .item {
    display: block; 
    width: 320px; 
    color: dimgrey; 
    margin: 15px 0 0 22px;
    }
    
.item:hover {
    text-decoration: none;
    }
.item p:first-child {
    width: inherit; 
    color: black; 
    font-weight: bold; 
    text-indent: 80px;
    }
    
.item p:nth-child(2) {
    width: 60px; 
    text-align: left; 
    display: inline-block; 
    float: left;
    }
    
.item p:nth-child(2) img {
    width: 50px; 
    height: 48px;
    }
    
.item p:last-child {
    width: 260px; 
    display: inline-block; 
    float: right;
    }
    
.customNavigation a { 
    display: block; 
    position: relative; 
    z-index: 3;  
    bottom: 50px;
    
    text-indent: 9999px;
    background: url("../img/customnavigation.png") repeat-x;
    width: 19px; 
    height: 30px;  
    }
    
.customNavigation a:hover { 
    background-color: orange; 
    cursor: pointer;
    }
    
.customNavigation a.prev { 
    background-position: left center;
    float: left;
    }
    
.customNavigation a.next {
    background-position: center right;
    float: right;
    }


/*Contacts page*/
#location > tbody > tr:nth-child(3) > td > p:nth-child(3) > a,
#location > tbody > tr:nth-child(3) > td > p:nth-child(4) > a,
#location > tbody > tr:nth-child(5) > td > p:nth-child(3) > a,
#location > tbody > tr:nth-child(5) > td > p:nth-child(4) > a {
    padding: 0px;
}

#location > tbody > tr:nth-child(4) > td > h5 {
    padding-top: 10px;
}

#location > tbody > tr:nth-child(3) > td > p:nth-child(3) > a:hover,
#location > tbody > tr:nth-child(3) > td > p:nth-child(4) > a:hover,
#location > tbody > tr:nth-child(5) > td > p:nth-child(3) > a:hover,
#location > tbody > tr:nth-child(5) > td > p:nth-child(4) > a:hover {
   text-decoration: underline;
   background: none;
}

/*Адреса на карті */
#location a {
    color: dimgrey; 
    display: block; 
    padding: 5px;
    }
     
#location a:hover { 
    background-color: silver; 
    text-decoration: none;
    }
    
#location a img {
    display: block; 
    margin: 0 auto;
    padding-top: 20px;
    }

/* Стовбчик з лицями */
#faces tbody tr {
    display: inline-block; 
    margin-bottom: 15px;
    }
    
#faces tbody tr:last-child { 
    margin-bottom: 0;
    }
    
#faces img {
    margin-right: 15px; 
    width: 102px; 
    height: 125px;
    }
    
#faces > tbody > tr > td > a {
    color: black;
}



.p404 h2 {
    font-size: xx-large; 
    text-align: center; 
    font-weight: bold;
    }
    
.p404 h1 {
    font-weight: bold; 
    font-size: 160px; 
    color: #F58612; 
    text-align: center;
    }

/* Адаптивність */
@media screen and (max-width:1169px) {
     .p404 h2 {
	   font-size: x-large;
       }
	.p404 h1 {
	   font-size: 120px;
       }
}

@media screen and (max-width:992px) {
	footer .row .col-lg-3 {
	   padding-bottom: 10px;
       }
	.navbar-orange ul.navbar-nav>li>a  { 
	   font-size: 15px;
       }
	figure.catalog {
	   margin-left: 25px; 
       margin-right: 25px;
       }
}
@media screen and (max-width:768px) {
	.navbar-mini .navbar-header {
	   background-color: darkorange;
       }
	.navbar-mini .navbar-brand {
	   font-size: large; 
       font-weight: bold; 
       color: white;
       }
	.navbar-mini #navbarCollapse {
	   background-color: gold;
       }
}


/* for fullsize slider */

.t-slide{

}
